.landing {
    background-image: url("/images/background.jpg");
    height: 100%;
}

html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

p {
    color: #005aff;
}

.inner_div {
    float: right;
    width: 25%;
}

h1 {
    font-size: 12px;
    font-weight: normal;
    color: #ddd;
    margin: 0;
}

p {
    margin: 0 0 20px
}

a {
    color: #22BCB9;
    text-decoration: none;
}

.cred {
    margin-top: 20px;
    font-size: 11px;
}



