<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>My Notes</title>
</head>
<template name="index">
    {{#if currentUser}}
        {{> dashboardPage}}
    {{else}}
        {{> firstPage}}
    {{/if}}
</template>
<template name="firstPage">

    <body class="landing">
    <div class=" container container-table">
        <div class="row vertical-center-row">
            <div class="container text-center">
                <h1><p>{{tagLine}}</p></h1>
                <h1>{{> loginButtons}}</h1>
            </div>
        </div>
    </div>
    </body>
</template>

<template name="dashboardPage">
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>my photo albums</title>
        <style>
            #galleria{height:320px}
            .content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:620px;margin:20px auto;}
        </style>
        <script>
            UPLOADCARE_PUBLIC_KEY = '5c96527d612902eb5834';
        </script>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">my notes</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <h1>{{> loginButtons}}</h1>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-xs-5">
            <div class="col-xs-5 container">
                <h2>My Notes</h2>
                <form class="new-note">
                    <input type="text" id="newNote" name="newNote" placeholder="enter text name" required/>
                    <input type="hidden" name="emailAddress" value={{users.services.google.email}}>
                    <input type="submit" value="Add">
                </form>
                <table class="table table-hover" id="dataTable">
                    <tbody>
                    {{#each notes}}
                        <tr data-mongoId="{{_id}}">
                            <td>
                                {{name}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-7 content">
            <h2>My Images</h2>
            <table class="table table-hover" id="galleryTable">
                <tbody>
                {{#each images}}
                    <tr>
                        <td>
                            <img src='{{imgURL}}' alt="Smiley face" height="150" width="150">
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            {{> show}}
        </div>
    </div>
    </body>
    </html>
</template>

<template name="show">
    <fieldset>
        <div>
            <label for="file-show">File:</label>
            <input type="hidden" id="file-show" role="uploadcare-uploader">
        </div>
        <p>
            {{#if uuid}}
                <a href="{{cdnUrl}}">{{uuid}}</a>
            {{else}}
                No UUID, upload a file
            {{/if}}
        </p>
    </fieldset>
</template>
